@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: "Prata", serif; */
    font-family: "Outfit", sans-serif;
    overflow-x: hidden;
    background-color: #fff;
}

/* header  */


.pages{
    color: #2A2A2A;
    font-size: 16px;
    text-transform: uppercase;
}

.pages:focus,
.pages:hover{
    color: #2A2A2A;
}

.header-icons{
    color: #3a3a3a;
    font-size: 20px;
    cursor: pointer;
}

.subscription input:focus{
    box-shadow: none !important;
    border: 1px solid #2a2a2a21;
}

.subscription input{
    height: 50px !important;
    outline: none;
    border: 1px solid #2a2a2a21;
}


