@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: "Prata", serif; */
    font-family: "Outfit", sans-serif;
    overflow-x: hidden;
    background-color: #fff;
}

/* header  */
.nav-bars,
.nav-tab-cross{
    font-size: 1.3rem;
    color: #2A2A2A;
    cursor: pointer;
    display: none !important;
}

.footer-links,
.pages{
    color: #2A2A2A;
    font-size: 16px;
    text-transform: uppercase;
}

.footer-links{
    font-size: 15px !important;
    text-transform: capitalize;
}

.pages:focus,
.footer-links:focus,
.footer-links:hover,
.pages:hover{
    color: #2A2A2A;
}

.header-icons{
    color: #3a3a3a;
    font-size: 20px;
    cursor: pointer;
}

.subscription input:focus{
    box-shadow: none !important;
    border: 1px solid #2a2a2a21;
}

.subscription input{
    height: 50px !important;
    outline: none;
    border: 1px solid #2a2a2a21;
}

/* header responsive  */

@media screen and (max-width:992px) {
    .nav-bars{
        display: block !important;
    }

    .header-nav-tab{
        top: 0;
        left: 0;
        height:0;
        opacity: 0;
        z-index:999;
        width: 100%;
        display: flex;
        padding: .5rem 0;
        position: absolute;
        visibility: hidden;
        flex-direction: column;
        background-color: #fff;
        transition: height .50s ease-in-out;
        box-shadow: 0 0 10px 2px #33333357;
    }
    
    .header-nav-tab li{
        width: 100%;
        text-align: center;
        padding: .3rem 0;
        border-bottom: 1px solid #efefef;
    }
    .header-nav-tab li a{
        font-size: 15px;
    }

    .header-nav-tab > i{
        position: absolute;
        right:15px;
        top:15px;
        font-size: 1.2rem;
        cursor: pointer;
        display: block !important;
        color: #2A2A2A;
    }
}


/* collection page | filters-sidebar */

.products > div > h1{
    font-size: 1.8rem;
}

@media  screen and (max-width:768px) {
    .products > div > h1{
        font-size: 1.2rem;
    }
}


.sideber > h2{
    color: #3f3f3f;
    font-weight: normal;
    font-size: 1.8rem;
    position: relative;
    text-transform: uppercase;
}

.filter-angle{
    color: #b1b1b1;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transition: .20s ease;
    transform: translate(-50%,-50%);
}

#filter-container{
    overflow: hidden;
    height:320px;
    transition: height .50s ease-in-out;
}

@media screen and (max-width:768px) {
    #filter-container{
        height:0;
    }
    
}

.category h3,
.types h3{
    margin-bottom: 1rem;
    font-weight: normal;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.sorting:focus{
    border: 1px solid #efefef;
}
.sorting{
    height: 40px;
    width: 230px;
    border-radius: 0;
    box-shadow: none !important;
    border: 1px solid #efefef;
}


/* product page  */

.product-title{
    color: #3D3D3D;
}

.product-description{
    color: #555555;
}

.size-selection input{
    display: none;
}

.size-selection label{
    height: 40px;
    width: 40px;
    color: #2A2A2A;
    text-align: center;
    line-height: 40px;
    position: absolute;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #dddddd;
    background-color: #efefef;
}

.size-selection input:checked + label{
    border: 1px solid orangered;
}



