@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: "Prata", serif; */
    /* font-family: "Outfit", sans-serif; */
     font-family: "Playfair", serif;
    overflow-x: hidden;
    /* background-color: #FFF8F5; */
    background-color: #fff;
}


/* header  */

header{
    background-color: #FFF8F5;
}

header .website-name{
    color: #064E38;
    text-transform: uppercase;
    font-size: 2.5rem; 
    margin-bottom: 0;
}

.nav-bars,
.nav-tab-cross{
    font-size: 1.3rem;
    color: #2A2A2A;
    cursor: pointer;
    display: none !important;
}

.pages{
    color: #2A2A2A;
    font-size: 18px;
    font-family: "Outfit", sans-serif;
}

.pages:hover,
.pages:focus{
    color:#064E38;
}

.hero-section h1{
    color:#064E38;
    font-family: "Prata", serif;
    font-size:4rem;
    font-weight:bold;
    margin: 1rem 0;
}

.hero-section span{
    color:#2a2a2a7e;
    font-weight:bold;
    font-family: "Outfit", sans-serif;
}

.card img,
.choose-us-box,
.about-us img,
.header-section img{
    cursor: pointer;
    transition: .20s ease;
}

.about-us img:hover,
.card:hover img,
.choose-us-box:hover,
.header-section img:hover{
    transform: scale(1.03);
}

.latest-collection-section .container-fluid,
.best-seller-section .container-fluid{
    padding: 7rem 0;
}

.collection-text,
.best-seller-text{
    margin-bottom:3.5rem;
}

.collection-text h1,
.best-seller-text h1{
    font-size: 3rem;
    color: #064E38;
}

.best-seller-text span,
.collection-text span{
    font-family: "Outfit", sans-serif;
}

.best-seller-section .card .price,
.best-seller-section .card .title,
.latest-collection-section .card .price,
.latest-collection-section .card .title{
    font-size:17px;
}

.signup-page,
.login-page,
.forgotton-password-page,
.support{
    padding:6rem 0 !important; 
    background-color: #FAF2EE;
}

.subscribe{
    margin:9rem 0 !important; 
    /* background-color:#FFF8F5; */
}

.subscribe h2{
    color:#064E38;
    font-size:2.5rem;
}
.subscribe p{
    color:#064E38;
}

.subscription button:hover,
.subscription button{
    background-color:#064E38;
}

.footer{
    padding:8rem 0 4rem 0;
    background-color: #E9E1DD;
     font-family: "Outfit", sans-serif;
}

.footer .website-name{
    color: #064E38;
    text-transform: uppercase;
    font-size: 2.5rem; 
    margin-bottom:3rem;
}

.footer .container-fluid img{
    margin-bottom: 6rem;
}

.footer-links{
    color: #2A2A2A;
    font-size: 16px;
    text-transform: uppercase;
}

.footer-links{
    font-size: 15px !important;
    text-transform: capitalize;
}

.links h2,
.detail h2 {
    color: #064E38;
}


.footer-links:focus,
.footer-links:hover{
    color: #064E38;
}

.header-icons{
    color: #064E38;
    font-size: 20px;
    cursor: pointer;
}

.subscription input:focus{
    box-shadow: none !important;
    border: 1px solid #2a2a2a21;
}

.subscription input{
    height: 50px !important;
    outline: none;
    border: 1px solid #2a2a2a21;
}

.user-profile{
    position: relative;
}

.user-profile .profile{
    position: absolute;
    top:0;
    opacity: 0;
    z-index: 99;
    visibility: hidden;
    right: 0;
    width: 150px;
    padding:.5rem;
    transition: .20s ease-in-out;
    background-color: #FFF8F5;
    border-radius: 5px;
    border: 1px solid #b1b1b1;
}

/* header responsive  */

@media screen and (max-width:992px) {
 
    .collection-header h1{
        font-size:2rem !important;
    }
    .hero-section h1{
        font-size:2.5rem;
    }

    .nav-bars{
        display: block !important;
    }

    .header-nav-tab{
        top: 0;
        left: 0;
        height:0;
        opacity: 0;
        z-index:999;
        width: 100%;
        display: flex;
        padding: .5rem 0;
        position: absolute;
        visibility: hidden;
        flex-direction: column;
        background-color: #FFF8F5;
        transition: height .50s ease-in-out;
        box-shadow: 0 0 10px 2px #33333357;
    }
    
    .header-nav-tab li{
        width: 100%;
        text-align: center;
        padding: .3rem 0;
        border-bottom: 1px solid #efefef;
    }
    .header-nav-tab li a{
        font-size: 15px;
    }

    .header-nav-tab > i{
        position: absolute;
        right:15px;
        top:15px;
        font-size: 1.2rem;
        cursor: pointer;
        display: block !important;
        color: #2A2A2A;
    }
}


/* collection page | filters-sidebar */


@media  screen and (max-width:768px) {
    .collection-header > div{
        width:100% ;
    }

    .sorting{
        width:100% !important;
    }

    .products > div > h1{
        font-size: 1.2rem;
    }

     #filter-container{
        height:0;
    }

    .collection-text h1,
    .best-seller-text h1{
        font-size: 2rem;
        color: #064E38;
    }

    .subscribe h2{
        font-size:2rem;
    }
    
    
}

@media screen and (max-width:575px) {

    .navbar .website-name{
        font-size:1.3rem;
    }

    .overlay h1{
        font-size: 2.3rem !important;
    }

    .hero-section span{
        text-align: center;
    }
    .hero-section h1{
        font-size: 2.8rem;
        text-align: center;
    }
}


.sideber > h2{
    color: #3f3f3f;
    font-weight: normal;
    font-size: 1.8rem;
    position: relative;
    text-transform: uppercase;
}

.filter-angle{
    color: #b1b1b1;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transition: .20s ease;
    transform: translate(-50%,-50%);
}

#filter-container{
    overflow: hidden;
    height:320px;
    transition: height .50s ease-in-out;
}

.category h3,
.types h3{
    margin-bottom: 1rem;
    font-weight: normal;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.sorting:focus{
    border: 1px solid #efefef;
}
.sorting{
    height: 40px;
    width: 230px;
    border-radius: 0;
    box-shadow: none !important;
    border: 1px solid #efefef;
}

.search{
    width:100%;
    max-width:250px;
    font-family: "Outfit", sans-serif;
}

.search:focus{
    box-shadow: none !important;
}

.collection-header h1{
    color: #064E38;
    font-size:3rem;
    
}

.category h3,
.types h3{
    font-size:15px;
    font-weight:bold;
    color: #064E38;
    font-family: "Outfit", sans-serif;
}

.category label,
.types label{
    font-family: "Outfit", sans-serif;
}

.collection .card .price,
.collection .card .title{
    color: #064E38;
}

/* product page  */

.product-title{
    /* color: #3D3D3D; */
    color:#064E38;
    text-transform: uppercase;
    font-size:2.6rem;
    /* font-family: "Outfit", sans-serif; */
}



.product-description{
    color: #3D3D3D;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Outfit", sans-serif;
}

.size-selection input{
    display: none;
}

.size-selection label{
    height: 40px;
    width: 40px;
    color: #2A2A2A;
    text-align: center;
    line-height: 40px;
    position: absolute;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #dddddd;
    background-color: #efefef;
}

.size-selection input:checked + label{
    border: 1px solid orangered;
}


/* cart page  */


.cart-section{
    background-color: #FFF8F5;
}

.cart-img{
    height:80px;
    width:70px;
    overflow: hidden;
}

.my-orders .cart-img,
.cart-item .cart-img{
    height:130px;
    width:120px;
    border-radius: 5px;
    overflow: hidden;
}

.my-orders .cart-img img,
.cart-item .cart-img img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.total-item{
    position: absolute;
    top:10px;
    right:-8px;
    height: 20px;
    width:20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    background-color: #064E38;
    display: inline-block;
    font-size: 14px;
}


.single-order .title,
.single-order .price{
    color: #3a3a3a;
    font-size: 15px;
}

.single-order .size{
    height: 30px;
    width: 30px;
    color: #3a3a3a;
    text-align: center;
    display: inline-block;
    border: 1px solid #efefef;
}

.single-order .quantity{
    outline: none;
    width:100px;
    box-shadow: none !important;
}

.cart-total a button:hover,
.cart-total a button{
    background-color: #064E38;
}

.calculations p{
    color: #3a3a3a;
}


/* about page  */
.delivery-information input,
.about-us-form textarea,
.about-us-form input{
    box-shadow: none !important;
    outline: none !important;
}

.delivery-information label{
    font-family: "Outfit", sans-serif;
}

.delivery-information button:hover,
.delivery-information button{
    background-color: #064E38;
    box-shadow: 0 3px 5px 1px #2a2a2a3f;
}

.about-us-form textarea{
    height:250px;
}

.about-us-hero .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    color:white;
    background-color:rgba(0, 0, 0,.25);
}

.overlay h1{
    font-family: "Prata", serif;
    font-size:4rem;
    font-weight:bold;
}

.overlay p{
    font-size:1.2rem;
    color:#fff;
}

.contact-us,
.choose-us{
    padding: 6rem 0;
    background-color: #FAF2EE;
}

.choose-us .choose-us-box{
    background-color: #FFF8F5;
}

.choose-us .choose-use-text{
    font-size: 15px;
    color: #a3a3a3;
}

.choose-us-box:hover i{
    background-color: #064E38;
    color: #fff;
}

.choose-us-box i{
    height:45px;
    width:45px;
    border-radius: 100%;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    color: #064E38;
    margin-bottom: 1rem;
    background-color: #FAF2EE;
    transition: .20s ease;
}


.choose-us-box p:first-of-type{
    color: #064E38;
    font-size: 1.3rem;
}

.about-us{
    padding: 6rem 0;
    background-color: #FFF8F5;
}
.about-box-right h1{
    color: #064E38;
    font-size:3rem;
}

.about-box-right span:nth-child(5){
    color: #064E38;
    font-size:1.2rem;
}

.about-box-right p{
    font-size: 17px;
    font-family: "Outfit", sans-serif;
}

.contact-us h4{
    color: #064E38;
    font-size: 2.5rem;
}

.contact-us p{
    font-size: 16px;
}

.about-us-form input::placeholder-shown{
    color: #a3a3a3 !important;
}

.about-us-form input:focus{
    outline: none !important;
    box-sizing: none !important;
    border-color:#3a3a3a !important;
    background-color: transparent;
}

.about-us-form textarea:focus{
    border-color:#3a3a3a !important;
}

.about-us-form textarea{
    height: 100px;
    font-family: "Outfit", sans-serif;
}

.about-us-form input{
    height:45px;
    font-family: "Outfit", sans-serif;
    background-color: transparent;
}

.about-us-form button:hover{
    transform: scale(1.02);
    background-color: #064E38;
}

.about-us-form button{
    height:50px;
    border-radius: 5px;
    background-color: #064E38;
    color:#fff;
    transition: .20s ease;
}

.delivery-information input:focus{
    border-color:#3a3a3a;
}

/* signup page  */
.signup-page h4,
.login-page h4{
    font-family: "Prata", serif;
}

.signup-form h3,
.form-container h3,
.forgotton-form h3,
.new-passwords h3,
.login-form h3{
    color:#064E38;
    font-size: 2.5rem;
}

.signup-form p,
.new-passwords p,
.forgotton-form p,
.form-container p,
.login-form p{
   font-family: "Outfit", sans-serif; 
}

.signup-page form input,
.login-page form input{
    box-shadow: none !important;
    outline: none;
}

.signup-form label,
.forgotton-form label,
.login-form label{
    font-family: "Outfit", sans-serif;
}

.signup-form #create-account,
.form-container .verify-otp,
.new-passwords .create-new-password,
.forgotton-form .forgotton-password,
.login-form .login{
    background: #064E38;
}

.signup-form p span a{
    color: #064E38 !important;
}

.signup-page form input:focus,
.login-page form input:focus{
    border-color: #2A2A2A !important;
}

/* admin add-product-page  */

.add-product-page .image{
    height:150px;
    /* height: 80px;
    width: 80px; */
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.add-product-page .image .image-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    transform: translate(-50%, -50%);
}

.add-product-page textarea{
    min-height:200px;
    max-height:200px;
}

.add-product-page input,
.add-product-page textarea,
.add-product-page select{
    box-shadow: none !important;
    outline: none !important;
}
.add-product-page input:focus,
.add-product-page textarea:focus,
.add-product-page select:focus{
   border-color:#555555 !important;
}

.product-size input{
    display: none;
}

.product-size h3{
    color:#064E38;
    font-family: "Outfit", sans-serif;
}

.product-size ul li{
    font-family: "Outfit", sans-serif;
}

.product-size p{
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Outfit", sans-serif;
}

.product-size label{
    height: 40px;
    width: 40px;
    color: #2A2A2A;
    text-align: center;
    line-height: 40px;
    position: absolute;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #dddddd;
}

.product-size label:hover{
   border-color: #064E38;
}

.product-size input:checked + label{
    border-color:#064E38;
    background-color: #064E38;
    color:#fff;
}

.product-size button:hover,
.product-size button{
    background-color:#064E38;
    font-family: "Outfit", sans-serif;
    border-color:#064E38;
}


.bestseller-check label{
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Outfit", sans-serif;
}

.img-view1,
.img-view2,
.img-view3,
.img-view4,
.img-view{
    height:100%;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.error{
    position: fixed;
    top:-25px;
    z-index: 9999;
    left: 50%;
    transition: top .50s ease;
    transform: translate(-50%,-50%);
}

.profile .user-img{
    height:65px;
    width:65px;
    border-radius: 100%;
    text-align: center;
    line-height: 60px;
    border: 1px solid #efefef;
}

.profile .detail .name{
    line-height: 10px;
}
.profile .detail .name,
.profile .detail .gmail{
    font-size: 15px;
    margin: 0;
}

.profile .detail div span{
    border-radius: 2px;
    padding:0 5px;
    margin-right: 10px;
    font-size: 14px;
    color:green;
    background-color: rgba(0, 128, 0,.20);
}

.profile .detail div span:last-child{
    color:rgba(0, 0, 255);
    background-color: rgba(0, 0, 255,.20);
}

.personal-information input:focus{
    border: 1px solid #333;
}
.personal-information input{
    box-shadow: none !important;
    outline: none !important;
    height:45px !important;
    font-family: "Outfit", sans-serif;
    background-color: #FFF8F5;
}

.roles .supers-admin p:first-of-type{
    font-size: 15px;
    line-height: 14px;
}

.roles .supers-admin p:last-of-type{
    font-size: 12px;
}

.roles .role-selection:checked + label{
    border-color:#064E38 !important;
    background-color:rgba(6, 78, 56,.20) !important;
}

.status .actives p,
.status .inactive p,
.status .suspend p{
    font-size: 1rem;
}

.status .actives i,
.status .inactive i,
.status .suspend i{
    font-size: 1.5rem;
}

.active-selection:checked + label{
    border-color:#064E38 !important;
    color:#064E38;
    background-color: rgba(0, 128, 0, .20) !important;
}

.inactive-selection:checked + label{
    border-color: #333 !important;
    color:#333;
    background-color:#33333333 !important;
}
.suspend-selection:checked + label{
    border-color: red !important;
    color:rgba(255, 0, 0, 0.664);
    background-color:rgba(255, 0, 0, 0.363) !important;
}

.personal-information .form button{
    width:max-content;
}

.personal-information form label{
    font-family: "Outfit", sans-serif;
}

.form-otp{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(51, 51, 51,.30);
    width:100vw;
    height: 100vh;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    backdrop-filter: blur(5px);
}

.stripe{
    display: none;
}


.invoice .header{
    background-color: #FFDAD6;
}

.invoice span{
    font-size: 15px;
    display: inline-block;
    border-color:#a3a3a3 !important;
}

.sidebar,
.invoice .footer{
    background-color: #F5F4ED;
}

.invoice .footer p{
    font-size: 14px;
}


/* dashboard  */

.sidebar > h2{
    /* color:rgba(61, 61, 61,.20); */
    font-size: 2rem;
    color: #064E38;
}

.sidebar > p{
    font-size: 15px;
    font-family: "Outfit", sans-serif;
}

.sidebar li{
    font-family: "Outfit", sans-serif;
}
.sidebar li a{
    padding: .7rem .4rem;
}

.sidebar li a:hover{
    background-color: #E6DEDA;
}

.user-card,
.delivery-status,
.dashboard-cards{
    transition: transform .20s ease;
}

.user-card:hover,
.delivery-status:hover,
.dashboard-cards:hover{
    cursor: pointer;
    transform: translateY(-5px) !important;
}

.dashboard-cards i{
    color:#064E38;
    height:40px;
    text-align: center;
    line-height: 40px;
    border-radius: 3px;
    margin-bottom: .5rem;
    width: 40px;
    background-color:#E7FAF3;
}

.dashboard-cards p{
    font-size: 14px !important;
    font-weight: bold;
    font-family: "Outfit", sans-serif;
}


.dashboard-cards h3{
    color:#064E38 !important;
    font-size: 1.2rem;
}

.delivery-status h1{
    color:#064E38;
    font-size: 2.3rem;
}

.delivery-status p{
    font-size: 16px;
    font-family: "Outfit", sans-serif;
}

.transaction div:first-child > p:first-child{
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-weight: bold;
}

.transaction div:last-child > p:last-child{
    font-family: "Outfit", sans-serif;
}

.image1,
.image3,
.image4,
.image2{
    /* height:200px !important;
    width: 100% !important;
    max-width:180px !important; */
    border: 1px dashed #9b9b9b;
    border-radius: 5px;
}

.core-details h3{
    color:#064E38;
    font-size: 2.3rem;
}

.product-categories p{
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Outfit", sans-serif;

}

.sizing h3{
    color:#064E38;
    font-size: 2.3rem;
}

.product-details button:hover,
.product-details button{
    background-color: #064E38;
    color:#fff;
    font-family: "Outfit", sans-serif;
    height:45px;
}

.inventory-list a:hover,
.inventory-list a{
    font-size:16px;
    font-family: "Outfit", sans-serif;
    background-color: #064E38;
}

.product .title,
.product .price,
.product .category{
    color:#064E38;
    font-size: 18px !important;
}

.order .product-title{
    font-size:16px;
}

.order .street,
.order .country{
    font-family: "Outfit", sans-serif;
}

.order .phone,
.order .name {
    color:#064E38;
}

.order .quantity,
.order .size,
.order .method,
.order .status,
.order .unit-price,
.order .total-price,
.order .date{
    font-family: "Outfit", sans-serif;
}



.user-card > i{
    height: 40px;
    width:40px;
    border-radius: 5px;
    color:#064E38;
    margin-bottom: .5rem;
    text-align: center;
    line-height: 40px;
    font-size:1.2rem;
    background-color: #E0DED9;
}

.user-card p{
    font-size: 16px;
    font-family: "Outfit", sans-serif;
}

.user-card h3{
    color:#064E38;
}

.users-row{
    font-family: "Outfit", sans-serif;
}

/* .product-categories p,
.edit-price p,
.edit-sub-category p, */
.edit-product-description input,
.edit-product-title input,
.edit-product-description p,
.edit-product-title p{
    font-family: "Outfit", sans-serif;
}

.edit-item:hover,
.edit-item{
    background-color: #064E38;
    font-family: "Outfit", sans-serif;
}

.user-profile p:first-child{
    color:#064E38;
}

.related-products span,
.personal-information p,
.user-profile .gmail{
    font-family: "Outfit", sans-serif;
}

.related-products h1{
    color:#064E38;
}

.fa-trash:hover{
    background-color:rgba(255, 0, 0,.30)
}

.fa-pencil:hover{
    background-color:rgba(6, 78, 56,.30) !important;
}

.fa-pencil{
    background-color:rgba(6, 78, 56,.20) !important;
}

.fa-pencil,
.fa-trash{
    min-height:40px;
    min-width:40px;
    text-align: center;
    line-height: 40px !important;
    border-radius: 100%;
    background-color:rgba(255, 0, 0,.20)
}

.order-page,
.collect-page,
.users-page,
.product-page{
    height:40px;
    width:40px;
    text-align: center;
    font-size: .9rem;
    font-weight: normal;
    line-height: 40px !important;
    padding: 0 !important;
    background: #c2c2c260 !important;
    color:#333 !important;
    outline: none !important;
    box-shadow: none !important;
    border:1.2px solid #cecece !important;
    border-radius: 3px !important;
    font-family: "Outfit", sans-serif;
}

.order-page:hover,
.collect-page:hover,
.users-page:hover,
.product-page:hover{
    border: 1.2px solid #064E38 !important;
    background: #064E38 !important;
    color:#fff !important;
}




