/* nav-tabs active  */
.active-menu{
    opacity: 1 !important;
    height: 212px !important;
    visibility: visible !important;
}


/* filter angle rotate */

.rotate{
    transform: translate(-50%,-50%) rotate(90deg);
}

/* expand category container  */
.expand{
    height: 320px !important;
}

.active{
    font-weight: bold !important;
}

.show-profile{
    top:100% !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.active-link{
    background-color: #FFEBF5 !important;
    border-color: #C586A5 !important;
}

